.AppDashboard {
  /*background-color: #00CBF8;*/
 /* border: 1px solid #00CBF8;*/
  /*border-radius: 15px;*/

  .DashboardGrid {
    color: white;
    background-color: #00CBF8;
    border-radius: 15px;
    .DashboardGrid_container{
       border: 1px solid red;
    }

  }

}